-#! haml -f html5 index.haml > index.html.tmp && mv index.html.tmp index.html
!!! Strict
%html.scriptavolant
  %head
    %link( rel="stylesheet" type="text/css" href="/styles/master.css" )
    -#%link( rel="icon" type="image/png" href="images/favicon.png" )
    %meta( http-equiv="X-UA-Compatible" content="chrome=1" )
    %meta( http-equiv="Content-Type" content="text/html; charset=utf-8" )

    %title Scriptavolant: Archivi

  %body#scriptavolant
    %h1.header Scriptavolant

    .meta
      %a( href="/" ) home
      %a( href="/info/" ) info
      %a scriptavolant

    .post.template
      .date.pullout
      %p.body

      .info
        scritto da
        %a.username
        alle
        %span.time
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        %a.commentLink Nessun commento

      %ul.comments.off
        %li.comment.template
          %p.body
          .info
            scritto da
            %a.username
            alle
            %span.time
            di
            %span.date

    %h3.loading
      Loading...

    %script( type="text/javascript" src="/scripts/jquery.js" )
    %script( type="text/javascript" src="/scripts/master.js" )
