//! sass master.sass > master.css.tmp && mv master.css.tmp master.css

.template, .off
  display: none

.info
  font-size: small
  color: gray

.comments
  font-size: small

.body
  margin-bottom: 0.2em

.post
  margin: 2em