//! sass master.sass > master.css.tmp && mv master.css.tmp master.css

// typography

body
  font: 14px/22px georgia, serif
a, strong, em
  font: bold 13px/22px helvetica, arial, sans-serif
  text-decoration: none
.user, h2
  font: 13px/22px helvetica, arial, sans-serif
.info, .meta, .pullout, .copyright
  font: 11px/22px helvetica, arial, sans-serif
  a
    font-size: 11px
.comments
  font-size: 13px
  list-style-type: none
.pullout, h2
  font-weight: bold
.signature
  margin: 2em 0
  font-style: italic

  
// colors
h1
  background: #faca85
  .scriptavolant &
    background: #777
    color: #faca85
    border-bottom: 1px solid #000
  border-bottom: 1px solid #946524
  color: #946524
  margin: 0
  text-transform: uppercase
  font-weight: normal
  letter-spacing: 6px
  font-size: 16px
  padding: 40px 60px 10px
.post, #info
  border-left: 1px solid #999
.pullout, h2, .copyright
  color: #666

a[href]
  color = #c62
  &:visited
    color = #832
  &:hover
    color = #c62 + #222
  &:active
    color: #f93
.meta a[href]
  color: #336
.info
  color: #666

// semantics

.template, .off
  display: none

.info
  color: gray

// spacing

html, body
  margin: 0
  padding: 0
h2, p
  margin: 0
h2
  margin-top: 2em
p+p
  text-indent: 22px
  .copyright &, &.signature
    text-indent: 0
.body
  margin-bottom: 0.2em

.meta
  margin-left: 60px
.meta a
  margin-right: 22px
.post, #info
  padding: 0 2em
  margin: 2em 10em 2em 20em
.comment
  margin: 0 0 1em 0
.pullout
  position: absolute
  left: 60px

.loading
  margin: 6em 0
  text-align: center
  color: gray

.user
  h3
    margin-left: 40%
    padding-left: 0.8em
  line-height: 30px
.key
  width: 40%
  float: left
  text-align: right
  margin-right: 1em
  font-weight: bold
  &:after
    content: ": "
    