-#! haml -f html5 index.haml > index.html.tmp && mv index.html.tmp index.html
!!! Strict
%html
  %head
    %link( rel="stylesheet" type="text/css" href="/styles/master.css" )
    %link( rel="icon" type="image/png" href="images/favicon.png" )
    %meta( http-equiv="X-UA-Compatible" content="chrome=1" )

    %title Verbamanent: Archivi

  %body

    %h1.header Verbamanent

    .meta
      %a( href="/" ) home
      %a( href="/info/" ) info
      %a( href="/scriptavolant/" ) scriptavolant

    .user.template
      %h3.username

      .profile.template
        .key
        .value

    %script( type="text/javascript" src="/scripts/jquery.js" )
    %script( type="text/javascript" src="/scripts/user.js" )
